<div class="row padding_up padding_down">
  <div class="col-xm-12">
    <h1 class="text-center">Profile Page</h1>
  </div>
</div> 

<div class="container center">

  <div class="row">
    <div class="col-md-4 box">
      <img src="../images/no_profile.jpg">
    </div>  

    <div class="col-md-4 box">
       <ul>
        <li>asdfds</li>
        <li>asdfds</li>
        <li>asdfds</li>
      </ul>
    </div>  

    <div class="col-md-4 box"></div>
  </div>

</div>


