<div class="row padding_up padding_down">
  <div class="col-xm-12">
    <h1 class="text-center">Profile</h1>
  </div>
</div> 

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <img src="../images/no_profile.jpg">
    </div>  

    <div class="col-md-4">
      <ul>
        <li>Name: Peter</li>
        <li>Birthday: April 4, 1995</li>
      </ul>
    </div>  
</div>


