    
<h1 class="title text-center">Stories</h1>      


<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-5 col-md-offset-4 col-md-4">  
      <form class="form-group">
        <input type="text" placeholder="Search" class="form-control" />
      </form>
    </div> 
  </div>

  <div class="row center">
    <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-8">
      <p>dfjsdlkfjalksjdf dajfk slkfjaksdj klsj lkajsdf lkjsadf askjdfnlkajsdfl kjasdflk jasdflkjf sa sdkjflka jsdf a dfjkalksdfkasjd flkj adskljh adfslkjh adslfjkh jklfasd a ksdjflkajsflkjads lfkjh adsklfjh laskjfh></p> 
    </div>
  </div>

  <div class="row center">
  
      <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-4"><p>dfjsdlkfjalksjdf dajfk slkfjaksdj klsj lkajsdf lkjsadf askjdfnlkajsdfl kjasdflk jasdflkjf sa sdkjflka jsdf a dfjkalksdfkasjd flkj adskljh adfslkjh adslfjkh jklfasd a ksdjflkajsflkjads lfkjh adsklfjh laskjfh></p></div>

         <div class="col-md-4"><p>dfjsdlkfjalksjdf dajfk slkfjaksdj klsj lkajsdf lkjsadf askjdfnlkajsdfl kjasdflk jasdflkjf sa sdkjflka jsdf a dfjkalksdfkasjd flkj adskljh adfslkjh adslfjkh jklfasd a ksdjflkajsflkjads lfkjh adsklfjh laskjfh></p></div> 
  </div>

</div>
