<div class="row">
  <div class="col-xm-12">
    <h1 class="title text-center">Stories</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-sm-5 col-md-offset-4 col-md-4">  
    <form class="form-group">
      <input type="text" placeholder="Search" class="form-control" />
    </form>
  </div> 
</div>

<br />

<div class="row">
  <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-8">
    <div class="well well-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-4">
    <div class="well well-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well well-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-8">
    <div class="well well-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-4">
    <div class="well well-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well well-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div>