 <div class="jumbotron">
      
      <h2>Create your story</h2>
      
 </div> 

 <div class="container">

  <textarea rows="10" cols="160" placeholder="write story here"></textarea>

 <div class="form-group">
              <input type="text" placeholder="choice 1" class="form-control" />
          </div>

  <div class="form-group">
              <input type="text" placeholder="choice 2" class="form-control" />
          </div>

   <button type="submit" class="btn btn-success">Submit</button>



 </div>