<form method="POST" action="/stories/new" role="form">
  <label>Content:</label>
  <input type="text" name="content" />

  <label>Choice 1:</label>
  <input type="text" name="choice1_text" />

  <label>Choice 2:</label>
  <input type="text" name="choice2_text" />

  <label>Tags</label>
  <input type="text" name="tags" />

  <button type="submit">Submit</button>
</form>