<div class="row">
  <div class="col-xm-12">
    <h1 class="title text-center">Create a Story!</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-8">
    <div class="well well-sm">
      <textarea class="form-control" placeholder="Create your story and watch it grow!"></textarea>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-4">
    <div class="well well-sm">
      <textarea class="form-control" placeholder="Answer #1"></textarea>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well well-sm">
      <textarea class="form-control" placeholder="Answer #2"></textarea>
    </div>
  </div>
</div>




<!-- <div class="row">
  <div class="col-xm-12">
    <h1 class="title text-center">Create Your Story</h1>
  </div>
</div>

 <div class="container">

  <textarea rows="10" cols="160" placeholder="write story here"></textarea>

 <div class="form-group">
              <input type="text" placeholder="choice 1" class="form-control" />
          </div>

  <div class="form-group">
              <input type="text" placeholder="choice 2" class="form-control" />
          </div>

   <button type="submit" class="btn btn-success">Submit</button>



 </div> -->