<div class="row">
  <div class="col-xm-12">
    <h1 class="title text-center">Create Your Story</h1>
  </div>
</div>

 <div class="container">

  <textarea rows="10" cols="160" placeholder="write story here"></textarea>

 <div class="form-group">
              <input type="text" placeholder="choice 1" class="form-control" />
          </div>

  <div class="form-group">
              <input type="text" placeholder="choice 2" class="form-control" />
          </div>

   <button type="submit" class="btn btn-success">Submit</button>



 </div>