
  <h1>make your choice</h1>
  
    
  <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
          adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
          kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p> 



  <div class="container">
    
    <div class="row" id="center">
    
      <div class="col-md-6 box">
        <h1>choice 1</h1> 
     
      </div>
      
      <div class="col-md-6 box">
        <h1>choice 2</h1>
   
      </div>    
    
    </div>   
    
  </div>
