
  <div class="jumbotron">    
      <h2>Story Path</h2>
      <h3>Summary of app</h3>
  </div> 



  <div class="container center">
    <div class="row" >    
      <div class="col-md-4 box padding_down">
      <h2>Intructions 1</h2> 
        <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p>       
      </div>
      
      <div class="col-md-4 box padding_down">
      <h2>Intructions 2</h2>   
          <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasdhfk lahsdflkjasdhfkljhas dfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p>       
      </div>
      
      <div class="col-md-4 box padding_down">
      <h2>Intructions 3</h2>     
          <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasd hfklahsdflkjasdhfk ljhasdfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p>       
      </div>   
    </div>
  </div>



  <div class="container center padding_up padding_down">    
    <div class="row">    
      <div class="col-md-12 box">
      <h1>story 1</h1> 
      <div class="well well-sm">
       <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
          adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
          kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds
            kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds
            kjasdhfkjashdfklashdfkljdsah ads lkajsdhfakdshf    
         </p> 
         </div>
      <form>
       

        <button type="submit" class="btn btn-success">Choice 1</button>
          <button type="submit" class="btn btn-success">Choice 2</button>

      </form>  
    </div>     
    </div>  
  </div> 

  <div class="container center padding_up padding_down">    
    <div class="row">    
      <div class="col-md-12 box">
      <h1>story 2</h1> 
      <div class="well well-sm">
       <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
          adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
          kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds
            kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds
            kjasdhfkjashdfklashdfkljdsah ads lkajsdhfakdshf    
         </p> 
      </div>

      <form>     

        <button type="submit" class="btn btn-success">Choice 1</button>
          <button type="submit" class="btn btn-success">Choice 2</button>

      </form>  
      </div>     
    </div>       
  </div>
