
  <div class="jumbotron">
    
      <h1>Story Path</h1>

      <h1>How it works</h1>
      
      <h3>Summary of app</h3>
      
  </div> 



  <div class="container">

    <div class="row instructions" >
    
      <div class="col-md-4 box">
      <h2>Intructions 1</h2> 
        <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p> 
      
      </div>
      
      <div class="col-md-4 box">
      <h2>Intructions 2</h2>
   
          <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasdhfk lahsdflkjasdhfkljhas dfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p> 
      
      </div>
      
      <div class="col-md-4 box">
      <h2>Intructions 3</h2> 
    
          <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasd hfklahsdflkjasdhfk ljhasdfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p> 
      
      </div>   
   </div>
  </div>



  <div class="container">
    
    <div class="row" id="center">
    
      <div class="col-md-4 box">
      <h2>story 1</h2> 
       <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
          adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
          kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p> 
      </div>
      
      <div class="col-md-4 box">
      <h2>Story 2</h2>
   
          <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p>  
      
      </div>
      
      <div class="col-md-4 box">
      <h2>Story 3</h2> 
    
           <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
        adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
        kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
        adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
        aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
        ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p>  
      
      </div>     
    
    </div>   
    
  </div>
