<div class="row padding_up padding_down">
  <div class="col-xm-12">
    <h1 class="title text-center">Login</h1>
  </div>
</div> 

<% if @error_msg %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="well well-md">
        <h3 class="text-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> <%= @error_msg %></h3>
      </div> 
    </div>
  </div>
<% end %>

<div class="row col-xs-12 col-sm-offset-3 col-sm-6">
  <form method="POST" action="/login" role="form">

     <div class="form-group">
      <label for="user_name">Username</label>
      <input type="text" class="form-control" name="user_name"/>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" />
    </div>

    <button type="submit" class="btn btn-primary pull-right">Login</button>
  </form>
</div>

