<div class="row padding_up padding_down">
  <div class="col-xm-12">
    <h1 class="title text-center">Sign Up</h1>
  </div>
</div> 

<form method="POST" action="" role="form">
   <div class="form-group">
    <label for="user_name">Username</label>
    <input type="text" class="form-control" name="user_name"/>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" />
  </div>

  <button type="submit" class="btn btn-primary pull-right">Submit</button>  
</form>



 
    
