
<div class="jumbotron">
    
    <h2>Login</h2>
    
</div> 

<form method="POST" action="" role="form">

   <div class="form-group">
    <label for="user_name">Username</label>
    <input type="text" class="form-control" name="user_name"/>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" />
  </div>

  <button type="submit" class="btn btn-primary pull-right">Submit</button>
  
</form>


<div class="container">
       
    <div class="row instructions" >
    
      <div class="col-md-12 box">
        <h2>Intructions 1</h2> 
          <p>stories adskfh alsdkhfl kasdhf klahdfkh dsfkh
          adkhflkasdhfk lahsdflkjasdhfkljha sdfklhdsakljfhk
          kjasdhfkjashdfklashdfkljdsah adsf lkajsdhfakdshf
          adhsfkahsdfk adshfhasd asdjhf ksdjah sdafjh  asd
          aksdhfasdh  asdkhfkl j asdfhl kasjdhf ahsdfl kj
          ahsdfkl hasdkl fj kjasdhfk lahsdf lkhaf kj lds</p> 
      
      </div>
        
   </div>
</div>



 
    
